/* < Global styles */
.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	/*IE6,IE7*/
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	border: 0 !important;
}

h1,
h2,
h3,
h4 {
	font-weight: 500;
	margin: 0;
}

* {
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	overflow-x: hidden;
	background-color: #fff;
}

a {
	position: relative;
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

p {
	cursor: default;
}

button {
	cursor: pointer;
	border: none;
	background: none;
}

ul {
	list-style: none;
}

input,
textarea {
	border: none;
	background-color: inherit;
}

h1 {
	font-size: 36px;
}

img {
	max-width: 100%;
}

/* Global styles /> */
.container {
	max-width: 1440px;
	margin: 0 auto;
}

.section-header {
	font-size: 36px;
}

.nav-block {
	padding: 15px 0;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}
.nav-block .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}
.nav-block .nav-bar .nav-bar__logo {
	width: 135px;
}
.nav-block .nav-bar .nav-bar__search {
	flex: 1;
	margin-right: 30px;
	margin-left: 60px;
	padding: 12px 40px;
	border: 1px solid #ebebf1;
	border-radius: 5px;
	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
	background-position: 10px;
	background-size: 24px;
}
.nav-block .nav-bar .nav-bar__user-block {
	width: 180px;
}
.nav-block .nav-bar .nav-bar__user-block .user-block__media-user {
	display: none;
	padding-left: 30px;
	border-left: 1px solid #ebebf1;
}
.nav-block .nav-bar .nav-bar__user-block .user-block__user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 30px;
	border-left: 1px solid #ebebf1;
}
.nav-block .nav-bar .nav-bar__user-block .user-block__user .user-block__user-name {
	cursor: pointer;
}
.nav-block .nav-bar .nav-bar__user-block .user-block__user .user-block__user-image {
	width: 40px;
	border-radius: 50%;
}
.nav-block .media-nav-bar__search {
	display: none;
	width: 100%;
	padding: 12px 40px;
	border: none;
	border-top: 1px solid #ebebf1;
	border-radius: 5px;
	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
	background-position: 10px;
	background-size: 24px;
}

.partners {
	margin-top: 40px;
}
.partners .section-header {
	margin: 30px 0;
}
.partners .partners-list {
	display: flex;
	flex-wrap: wrap;
}
.partners .partners-list .partners__card {
	display: flex;
	align-items: center;
	flex-shrink: 1;
	width: 100%;
	height: 140px;
	margin-bottom: 30px;
	padding: 20px 10px;
	transition: 0.5s;
	border: 1px solid #ebebf1;
	border-radius: 5px;
}
.partners .partners-list .partners__card .partners__card-image {
	margin: 0 auto;
}
.partners .partners-list .partners__card:hover {
	transition: 0.5s;
	box-shadow: -3px 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(164, 164, 164, 0.03);
}
@media (min-width: 375px) {
	.partners .partners-list .partners__card {
		flex-shrink: 3;
		width: 32%;
		height: 120px;
		padding: 20px 10px;
	}
	.partners .partners-list .partners__card:not(:nth-of-type(3n)) {
		margin-right: 2%;
	}
}
@media (min-width: 768px) {
	.partners .partners-list .partners__card {
		flex-shrink: 4;
		width: 24%;
		height: 100px;
		padding: 20px 40px;
	}
	.partners .partners-list .partners__card:not(:nth-of-type(3n)) {
		margin-right: 0;
	}
	.partners .partners-list .partners__card:not(:nth-of-type(4n)) {
		margin-right: 1.33%;
	}
}
@media (min-width: 1440px) {
	.partners .partners-list .partners__card {
		flex-shrink: 5;
		width: 19%;
		padding: 20px 40px;
	}
	.partners .partners-list .partners__card:not(:nth-of-type(3n)) {
		margin-right: 0;
	}
	.partners .partners-list .partners__card:not(:nth-of-type(4n)) {
		margin-right: 0;
	}
	.partners .partners-list .partners__card:not(:nth-of-type(5n)) {
		margin-right: 1.25%;
	}
}